# Ignore all log files
*.log

# Ignore specific directories
Datasets/DeepShip
Datasets/ShipsEar
Datasets/VTUAD
tb_logs/
pretrained_models/
esc50_data/
esc50_data_resampled/
features/
ShipsEar/
VTUAD/

# Ignore specific large files


